@model IEnumerable<BoatsMontenegro.Models.Boat>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nesto" id="containerAboutus">
    <div class="jumbotron" style="width:100%">
        <p id="naslovaboutus">"MONTEBOATS" Crna Gora</p> <br />
        <p id="text1aboutus">
            Ako ste obozalavac vodenih plovila,na pravom ste mjestu.Vec 12 godina pruzamo usluge u sektoru iznajmljivanja vodenih plovila.
            Zakupite brod i krenite u plovidbu Jadranom.
            U nasoj ponudi imate preko 500 brodova na preko 15 razlicitih destinacija.
            Uvjerite se zasto smo najbolji!
        </p> <br /> <br /> <br />

        <div style="justify-content:space-evenly; display:flex; position:relative; top: 20%;">
            <span style="color:whitesmoke;font-family:Brush Script MT, cursive;text-shadow: 16px 16px 16px black;font-size: 250%;"><a href="#" style="color:white">Zakazi termin</a></span>
            <span style="color:whitesmoke; font-family:Brush Script MT, cursive;text-shadow: 16px 16px 16px black;font-size: 250%;"><a href="~/Ostalo/NaciniPlacanja" style="color:white">Nacini placanja</a></span>
            <span style="color: whitesmoke;font-family:Brush Script MT, cursive;text-shadow: 16px 16px 16px black;font-size: 250%;">Sigurna usluga</span>
        </div>

    </div>
</div>

<div class="container">
    <center>
        <h2 style="color: whitesmoke; height: 30px; text-shadow: 14px 14px 14px black; font-family: Brush Script MT, cursive;">Pogledajte najbolju ponudu koju nudimo!</h2>
    </center> <br />

    <center>
        <form>
            <input type="text" name="search" style="height:35px;" />
            <button class="searchButton1" type="submit" name="type for search">Potrazi</button>
        </form>
    </center>
    <br />

    @foreach (var item in Model)
    {
        <div class="list-group" style="margin-left:25%; width:50%">
            <a href="/Ponuda/ShowOne/@item.BoatID" class="list-group-item active" id="ShowOneTekst">
                @Html.DisplayFor(modelItem => item.Name)
            </a>

            <a href="/Ponuda/ShowOne/@item.BoatID" class="list-group-item">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                @Html.DisplayFor(modelItem => item.Category)
            </a>

            <a href="/Ponuda/ShowOne/@item.BoatID" class="list-group-item">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                @Html.DisplayFor(modelItem => item.Capacity) OSOBA
            </a>

            <a href="/Ponuda/ShowOne/@item.BoatID" class="list-group-item">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                @Html.DisplayFor(modelItem => item.Price)€ / 24h
            </a>
        </div>
    }
</div>
