
@{
    ViewBag.Title = "UnAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span style="color: #f62416; font-size: 450%; font-family: Arial, Helvetica, sans-serif; position: absolute; left: 29%; top: 110%;">PRISTUP ODBIJEN!</span>
<br />
<br />

<a style="font-size: 180%; color: white; position: absolute; top: 130%; left: 40%;" href="~/Account/Login">Molimo vas da se prijavite!</a>
<br />
<br />

<a style="font-size: 180%; color: white; position: absolute; top: 140%; left: 37%;" href="~/Account/Register">Ukoliko nemate nalog,napravite jedan.</a>
<br />
