@{
    ViewData["Title"] = "Home Page";
}
@model IList<BigGame.Models.User>

<link rel="stylesheet" href="~/css/waterButton.css" />
<link rel="stylesheet" href="~/css/index.css" />

<header id="hIndex">
    <!--
    <iframe class="video" width="560" height="315"
            src="https://www.youtube-nocookie.com/embed/-27-LUj4UGs?autoplay=1&controls=0&showinfo=0&loop=1&"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
            -->
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" poster="~/images/boats/b1.jpg">
        <!--<source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">-->
        <source src="https://drive.google.com/u/0/uc?id=1aov-4iqR36AsAeWa44tB-1ApZq2gk02R&export=view#.mp4" type="video/mp4">
    </video>
    <div class="overlay"></div>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">
                    Big Game<h1>
                        <p class="lead mb-0">by Gajić Mladen</p>
            </div>
        </div>
    </div>
</header>

<section class="my-5">
    <div class="container" style="margin-top:95vh;">
        <div class="row">
            <div class="col-md-8 mx-auto" style="padding-bottom:12vh;">
                <p>

                    Tokom planiranja svog odmora u <span style="color: #da6f05"> <b>Crnoj Gori </b></span>, naravno, mnogi su već razmišljali kako kupiti povoljno karte. Ovo je vrlo jednostavno... Na našem sajtu možete naći i kupiti avionske karte za Crnu Goru iz bilo kog grada Rusije i svijeta, kao i pronaći kartu iz Crne Gore u bilo koji grad svijeta.
                </p>
                Mi Vam nudimo udobno pretraživanje avionskih karata po cijelom svijetu od 728 avio kompanija, 45 agencija i 5 sistema rezervisanja letova popularnog Aviasales. Mi ne prodajemo avionske karte sami ali kod nas ćete naći najbolje ponude za avionske karte za bilo koje letove. Mi nudimo maksimalno udobno pretraživanje avionskih karata na mnogim jezicima, najniže tarife za letove u bilo koji dio svijeta, upoređivanje cijena online u različitim valutama. Na našem sajtu možete odabrati najjeftinije avionske karte u Evropu, Aziju i druge kontinente. Saznajte cijenu i rezervišite avionsku kartu za Crnu Goru, Rusiju, Hrvatsku, Albaniju, Rim, Milano, Barselonu i druge države za sebe i cijelu familiju.
            </div>
        </div>
        <div class="row HomeBoatList">
            <div class="overlay"></div>
            <h1 class="text-white">
                Pronađite ponudu koja vam odgovara, birajući datume početka i kraja plovidbe ...
            </h1>
            <a href="~/Home/AvailableBoats">
                <div class="box">
                    <span>Iznajmite brod</span>
                    <i></i>
                </div>
            </a>
        </div>
        <div class="row text2-Homepage">
            <div class="col-md-8 mx-auto" style="padding-bottom:12vh;">
                Mi smo rastuća kompanija specijalizovana za marketing i povezivanje turista sa vlasnicima beogradskih brodova, u cilju promovisanja života na rekama Beograda. Klijentima pomažemo da iznajme brod on-line i zaplove rekama po Beogradu, okolini, pa i dalje.

                Naša ponuda uključuje razne tipove i veličine plovila, kako bi zadovoljila različite potrebe naših potencijalnih klijenata.  Od  Big Game kompanije možete iznajmiti glisere, jahte, čamce, jedrilice, katamarane i druge vrste plovila za parove, manje ili veće grupe, za team building-e, venčanja i druge tipove proslava.



                Obezbeđujemo širok spektar plovila online od najpouzdanijih lokalnih vlasnika
                Naša web platforma omogućava uvid u raspoložive termine za iznajmljivanje brodova u Beogradu i online buking
                Naš posvećeni tim je efikasan, spreman da pomogne i pronađe pravo rešenje za svakog klijenta
                Naša ponuda brodova za iznajmljivanje u Budvi je u potpunosti transparentna


                Ponosni smo što imamo privilegiju da pružimo klijentima nezaboravno iskustvo i fokusirani smo na pružanje vrhunske usluge iznajmljivanja brodova u Crnoj Gori!
            </div>
            <div class="row HomeRentBoats">
                <div class="overlay"></div>
                <a href="~/Uvid/Boats">
                    <div class="box">
                        <span>Svi Brodovi</span>
                        <i></i>
                    </div>
                </a>
                <h1 class="text-white">
                    Trenutni broj brodova koje mozete iznajmiti na nasem sajtu je preko <b>150</b>...
                </h1>
            </div>
        </div>
    </div>
</section>
