<div class="d-flex justify-content-center align-items-center margint-50">
    <div class="row">
            <div class="btn-group col-12 " role="group" aria-label="Basic example">
              <button type="button" onclick="window.location.href='https://localhost:7221/Tasks/addNewTask?group=true'" class="btn bg-maintaining shadow" style="height:8em;width:8em;">Group</button>
              <button type="button" onclick="window.location.href='https://localhost:7221/Tasks/addNewTask?group=false'" class="btn bg-housekeeping shadow" style="height:8em;width:8em;">Individual</button>
            </div>
        </div>
</div>