
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h3 id="naslovKontakt">Nasa Email adresa:</h3><br />
    <span id="kontaktTekst">monteboatscrnagora@gmail.com</span> <br /><br />

    <h3 id="naslovKontakt">Nas kontakt telefon:</h3> <br />
    <span id="kontaktTekst">Za Balkan: +381 65 8889999</span> <br />
    <span id="kontaktTekst">Za Evropu: +36 7777999</span> <br />

    <h3 id="naslovKontakt">Nasa adresa:</h3> <br />
    <span id="kontaktTekst"> Blagoja Jovovica 18,Lokal 3, Podgorica 81100 </span> <br /> <br /> <br />

    <h3 id="naslovKontakt">Pratite nas na drutvenim mrezama:</h3> <br />
    <span style="justify-content:space-between; display:flex; margin-inline-start:8%;">
        <a href="www.facebook.com"><img src="~/ImagesIconsFolder/fbIcon.png" id="slikaDrustveneMreze" /></a>  <br />
        <a href="www.instagram.com"><img src="~/ImagesIconsFolder/instaICON.png" id="slikaDrustveneMreze" /> </a> <br />
        <a href="www.linkedin.com"><img src="~/ImagesIconsFolder/linkedinICON.png" id="slikaDrustveneMreze" /></a> <br />
        <a href="www.twitter.com"><img src="~/ImagesIconsFolder/twiterICON.png" id="slikaDrustveneMreze" /></a> <br />
        <a href="www.youtube.com"><img src="~/ImagesIconsFolder/youtubeICON.png" id="slikaDrustveneMreze" /> </a> <br />
    </span>*@


<section class="u-clearfix current-section u-block-d597-1" custom-posts-hash="[]" data-style="blank" data-section-properties="{&quot;margin&quot;:&quot;none&quot;,&quot;stretch&quot;:true}" id="carousel_b235" data-id="d597" data-source="functional_fix" style="">
    <div class="u-clearfix u-sheet u-block-d597-2" style="min-height: 487px">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-block-control u-block-d597-3" data-tooltip-title="Grid" style="margin-top: 91px; margin-right: auto; margin-bottom: 91px; margin-left: 0" data-layout-wrap-id="1" data-block="36" data-block-type="Layout">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-20 u-block-control ui-draggable ui-droppable u-block-d597-4" style="min-height: 306px" data-cell-id="1" data-column-id="1" data-block="37">
                        <div class="u-container-layout u-valign-top u-block-d597-5" style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px" data-container-layout-dom="7">
                            <h2 class="u-custom-font u-font-georgia u-text u-block-control u-block-d597-10" data-tooltip-title="Heading 2" style="position: relative; font-size: 3rem; margin-top: 0; margin-bottom: 0; margin-left: 0; margin-right: 0" data-block="38" data-block-type="Text">This place is special...</h2>
                            <h4 class="u-text u-block-control u-block-d597-11" data-tooltip-title="Heading 4" style="position: relative; margin-top: 8px; margin-left: 0; margin-right: 0; margin-bottom: 0; font-size: 1.5rem; text-transform: capitalize; letter-spacing: normal" data-block="39">about us</h4>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-20 u-block-control ui-draggable ui-droppable u-block-d597-8" style="min-height: 306px; background-image: none" data-cell-id="2" data-column-id="2" data-block="40">
                        <div class="u-container-layout u-valign-top u-block-d597-9" style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px" data-container-layout-dom="8">
                            <p class="u-text u-block-control u-block-d597-13" data-tooltip-title="Text" style="position: relative; margin-top: 0; margin-bottom: 0; margin-left: 0; margin-right: 0" data-block="41" data-block-type="Text">
                                Due to its commanding position, in the Second World War the Fort House was used by the military as an observation post and even had the roof reinforced to protect it from an aerial attack, with two feet of concrete, making
                                it bomb proof from enemy aircraft. With its historic harbour, rockpools and sandy beaches St Mawes provides the idyllic Cornish escape and The Fort House the perfect property in which to stay
                            </p>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-block-control ui-draggable ui-droppable u-block-d597-6" style="min-height: 306px; background-image: none" data-cell-id="3" data-column-id="3" data-block="42">
                        <div class="u-container-layout u-valign-top u-block-d597-7" style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px" data-container-layout-dom="9">
                            <p class="u-text u-block-control u-block-d597-12" data-tooltip-title="Text" style="position: relative; margin-top: 0; margin-bottom: 0; margin-left: 0; margin-right: 0" data-block="43">
                                This spacious and airy single storey holiday cottage sits in a private garden whose terrace provides uninterrupted views of the spectacular Cornish coastline. A short walk leads you in to the centre of the picturesque fishing
                                village of St Mawes with its whitewashed cottages, galleries character pubs and restaurants.&nbsp;
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>