
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 id="naslovKontakt">Nasa Email adresa:</h3>
    <span id="kontaktTekst">monteboatscrnagora@gmail.com</span><br /> <br /> <br />

    <h3 id="naslovKontakt">Nas kontakt telefon:</h3>
    <span id="kontaktTekst">Za Balkan: +381 65 8889999</span> <br />
    <span id="kontaktTekst">Za Evropu: +36 7777999</span> <br /> <br /> <br />

    <h3 id="naslovKontakt">Nasa adresa:</h3>
    <span id="kontaktTekst"> Blagoja Jovovica 18,Lokal 3, Podgorica 81100 </span> <br /> <br /> <br />

    <h3 id="naslovKontakt">Pratite nas na drutvenim mrezama:</h3> <br />
    <span style="justify-content:space-between; display:flex; margin-inline-start:8%;">
        <a href="www.facebook.com"><img src="~/ImagesIconsFolder/fbIcon.png" id="slikaDrustveneMreze" /></a>  <br />
        <a href="www.instagram.com"><img src="~/ImagesIconsFolder/instaICON.png" id="slikaDrustveneMreze" /> </a> <br />
        <a href="www.linkedin.com"><img src="~/ImagesIconsFolder/linkedinICON.png" id="slikaDrustveneMreze" /></a> <br />
        <a href="www.twitter.com"><img src="~/ImagesIconsFolder/twiterICON.png" id="slikaDrustveneMreze" /></a> <br />
        <a href="www.youtube.com"><img src="~/ImagesIconsFolder/youtubeICON.png" id="slikaDrustveneMreze" /> </a> <br />
    </span>



