
@{
    ViewBag.Title = "NaciniPlacanja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center; font-size:480%; color:whitesmoke; font-family:Brush Script MT,cursive; text-shadow: 8px 8px 8px black;">Nacini placanja</h1>

<span id="NaciniPlacanjaSpan">
    <span id="naciniPlacanjaNaslovi">Uplatnica </span><br /> <br />
    Plaćanje uplatnicom podrazumeva da svoju narudžbinu možete platiti direktnom uplatom u bilo kojoj pošti ili banci.
    Detaljne podatke koje je potrebno navesti na uplatnici dobijate putem e-maila neposredno nakon potvrde narudžbine od strane naših komercijalista.
    Po evidentiranju Vaše uplate, roba se šalje na izabranu adresu isporuke.<br />

    <span id="naciniPlacanjaNaslovi"> Nalog za prenos (Virmansko plaćanje)</span><br />
    Ukoliko ste pravno lice ili korisnik elektronskog bankarstva (e-banking-a), uplatu možete izvršiti prenosom sredstava sa Vašeg računa.
    Detaljne podatke koje je potrebno navesti na nalogu za prenos dobijate putem e-maila od strane naših komercijalista neposredno nakon potvrde narudžbine.
    Po evidentiranju Vaše uplate, roba se šalje na izabranu adresu isporuke.
</span>
<br />

<span id="NaciniPlacanjaSpan">
    <br />
    <span id="naciniPlacanjaNaslovi">Gotovinski (POUZEĆEM)</span> <br /> <br />
    Nudimo Vam i opciju plaćanja pouzećem (gotovinsko plaćanje kuriru na adresi isporuke).
    U ovom slučaju nakon potvrde narudžbine roba će Vam biti poslata kurirskom službom, a Vi ćete je platiti kuriru pri preuzimanju.
</span>
<br />

<span id="NaciniPlacanjaSpan">
    <br />
    <span id="naciniPlacanjaNaslovi"> Platna kartica</span><br /> <br />
    Svoju narudžbinu možete platiti koristeći AMEX, Maestro, MasterCard, VISA, DINA karticu. Kartica mora biti odobrena od strane banke izdavaoca za online (Internet) plaćanje.
    Prilikom online naručivanja, odabirom odgovarajućeg načina plaćanja bićete preusmereni na stranicu WSPay koja je zaštićena i sigurna za ovakav način plaćanja.
    Niti jednog trenutka podaci o Vašoj platnoj kartici nisu dostupni našem sistemu.
    Na stranici je potrebno da unesete sledeće podatke: Broj kartice, Datum isteka i  CVC2/CVV2 kod, koje možete pročitati sa Vaše kartice.
    <br /> <br />
</span>

<img src="~/ImagesFolder/platnaKartica.jpg" id="nacinPlacanjaSlika" />
<br />
<br />

<span id="NaciniPlacanjaSpan">
    <br />
    <span id="naciniPlacanjaNaslovi">Instant plaćanje IPS skeniraj</span><br /> <br />
    Svoju online porudžbinu možete platiti instant plaćanjem, metodom IPS skeniraj.
    Kada izaberete IPS skeniraj bićete preusmereni na stranicu na kojoj će Vam biti prikazan jednokratan IPS QR kod koji je obezbedio WSPay.
    Aplikacijom mobilnog bankarstva koju imate instaliranu na svom mobilnom uređaju skeniraćete/preuzećete podatke iz generisanog IPS QR koda i plaćanje obavljati
    jednostavno, u sigurnom okruženju Vaše banke.
</span>

<span id="NaciniPlacanjaSpan">
    <br />
    <span id="naciniPlacanjaNaslovi">Kreditne kartice</span> <br /> <br />
    Mogućnost plaćanja kreditnim karticama NLB Komercijalne banke i Banca Intesa do 12 rata bez kamate!
    Ukoliko posedujete kreditnu karticu NLB Komercijalne banke ili Banca Intesa, nakon unosa broja kartice, prikazaće se padajući meni sa izborom broja rata.
    U slučaju da vaša kartica ne podržava odloženo plaćanje, padajući meni se neće prikazati.
</span>
<br />
<br />

<img src="~/ImagesFolder/NaciniPlacanjaSlika2.PNG" id="nacinPlacanjaSlika" />
<br /> 