
@{
    ViewBag.Title = "NajcescaPitanja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center; font-size:480%; color:whitesmoke; font-family:Brush Script MT,cursive; text-shadow: 8px 8px 8px black;">Najcesca pitanja</h1> <br /><br />


<h2 id="najcescaPitanjaNaslovi">Kada i kako se plaća izrada web sajta?</h2><br />
<span id="najcescaPitanjaTekst">Stvar dogovora, ne postoji nikakvo pravilo. Dizajner će Vam odmah reći kada i kako ćete plaćati. 
    Možete ponuditi svoju verziju i probati da dogovorite kako Vama odgovara.
    Važno je da saznate da li nešto plaćate unapred i koju vrstu garancije imate za taj novac.</span> <br /> <br />



<h2 id="najcescaPitanjaNaslovi">Šta je SEO? - jednostavno objašnjeno</h2><br />
<span id="najcescaPitanjaTekst">SEO je sve ono što Vi i Vaš web dizajer radite da bi se sajt našao na prvoj strani Googla za što više različitih pitanja i pojmova. 
    SEO je skraćenica od Search Engine Optimization. 
    Google i ostali pretraživači (Google nosi 70% svih pretraga, ostalo su Bing, Yahoo, Baidu, Ask.com…) </span><br /><br />



<h2 id="najcescaPitanjaNaslovi">Šta je Google Analytics i Google Search Console?</h2><br />
<span id="najcescaPitanjaTekst">
    Svi ovi podaci su korisni za planiranje i praćenje marketinga, a samim tim Vam daju moć da povećate prodaju, broj klijenata, popularnost…
    Vi ne morate znati ništa o Google Analytics alatu. 
    Vaš web dizajner Vam može instalirati jednostavan prikaz svega navedenog i objasniti gde i šta da pratite.
</span><br /><br />



<h2 id="najcescaPitanjaNaslovi">Šta je SSL i šta znači mali katanac ispred adrese web sajta?</h2><br />
<span id="najcescaPitanjaTekst">SSL je jedna od zaštita Interneta. Komplikovanije objašnjenje je: SSL (Secure Sockets Layer) je
    sigurnosni protokol koji kreira šifrovanu (encripted) vezu  izmedju web servera i web pretraživača. Nije obavezno, ali je preporučeno da 
    svaki sajt ima SSL.</span><br /><br />



<h2 id="najcescaPitanjaNaslovi">Šta je UX dizajn?</h2><br />
<span id="najcescaPitanjaTekst">UX je skraćenica od User Experience. UX dizajn je iskustvo koje imamo kada koristimo ili posmatramo neki proizvod. 
    Dok skrolujemo kroz stranice nekog web sajta, imamo razna osećanja, utiske, razmišljanja.</span><br /><br />



<h2 id="najcescaPitanjaNaslovi">Šta je WordPress?</h2><br />
<span id="najcescaPitanjaTekst">
    Web sajtovi mogu biti uradjeni na dva načina: 1) programiranjem (korišćenjem HTML-a, CSS-a, Java Script-a) i bez znanja programiranja, 
    u nekom od CMS-a (Content Management System- Sistem za upravljanje sadržajem). WordPress je najviše korišćen CMS.
    Preko 30 miliona web sajtova u svetu je uradjeno u WordPress-u.
    Slede Wix, Squarespace, Joomla, Shopify, itd. WordPress je potpuno besplatan.
    Ako Vas ne zanimaju detalji o tome kako se pravi web sajt, više od ovoga što smo napisali Vam ne treba.
</span>

