
@{
    ViewBag.Title = "RecenzijeIskustva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="recenzijeTekst">
    Zakonom o zaštiti potrošača Trgovac je odgovoran za nesaobraznost robe ugovoru koja se pojavi u roku od 24 meseca od kupovine robe.
    Trgovac je dužan da u slučaju nesaobraznosti robe o svom trošku obezbedi servisiranje iste. Pravo na reklamaciju i besplatno servisiranje od strane
    Trgovca kupac gubi u slučaju neadekvatnog rukovanja uređajem i njegovim korišćenjem koje nije u skladu sa uputstvom za upotrebu, kao i u slučaju da su vršene b
    ilo kakve popravke ili pokušaji popravki od strane neovlašćenih lica.<br /><br />

    Pored toga, WinWin ne podleže zakonskoj odgovornosti:
    - ukoliko uređaj poseduje osnovna svojstva i funkcionalnst za redovnu upotrebu i odgovara onome što je uobičajeno kod robe iste vrste
    - ukoliko uređaj odgovara opisu i uzorku koji je pokazan od strane prodavca
    - za podatke na računaru, hard disku ili bilo kom drugom uređaju koji služi za smeštanje podataka<br /><br />

    <span>Procedura reklamacije</span><br />
    Reklamirani uređaj po osnovu saobraznosti kupac može dostaviti u bilo kojoj WinWin maloprodaji uz propratnu dokumentaciju.
    Pri tom je neophodno dostaviti dokaz o izvršenoj kupovini (račun, ugovor na daljinu).
    Zakon ne predviđa obavezu da potrošač čuva ambalažu, niti je to uslov za rešavanje reklamacije niti razlog za odbijanje otklanjanja nesaobraznosti,
    naša preporuka je da ambalažu sačuvate radi obezbeđenja sigurnijeg transporta robe u ovlašćeni servis. Ovakav proces reklamacije se
    primenjuje na sve uređaje osim bele tehnike.<br /><br />

    Reklamaciju na uređaje bele tehnike kupac prijavljuje isključivo:
    - pozivanjem reklamacionog centra 011 30 30 330 i 0700 330 330
    - slanjem e-mail-a na mail: reklamacije@tehnomanija.rs <br /><br />

    Nakon evidentiranja zahteva za reklamaciju, na adresu kupca se upućuje servisni tim koji proverava nastali kvar i dostavlja izveštaj o daljoj proceduri.
    Napomena: Potrebno je da potrošač prema uputstvu proveri detalje važenja garancije, imajući u vidu mogućnost čuvanja ambalaže, registracija na sajtu i sl.
    Po izjavljenoj reklamaciji pisanim ili elektronskim putem kupac će biti informisan o evidencionom broju reklamacije i na taj način se potvrdjuje prijem iste.
    Kompanija WinWin reklamirani uređaj dostavlja ovlašćenom servisu na detaljnu proveru saobraznosti.
    Ukoliko je u pitanju reklamacija bele tehnike. Ovlašćeni servis o trošku kompanije izlazi na teren i proverava da li je reklamacija osnovana.
    Po prijemu izveštaja ovlašćenog servisa, a u roku od 8 dana od prijema reklamacije, pisanim ili elektronskm putem ćemo vam odgovoriti na izjavljenu reklamaciju.
    U slučaju da se reklamacija prihvata, ista će biti rešena u periodu od 15 dana od dana podnošenja reklamacije, odnosno u periodu od 30 dana od
    dana podnošenja reklamacije ukoliko je u pitanju tehnička roba u skladu sa vašim zahtevom.
    Uređaje za koje je prihvaćena reklamacija i koji su pristigli iz ovlašćenog servisa WinWin vraća kupcu. Kupac je dužan da svoj uređaj preuzme ili omogući
    njegovo dostavljanje najkasnije u roku od 30 dana od trenutka kada je dobio obaveštenje da je roba popravljena
    i spremna za preuzimanje - isporuku. Nakon isteka tog perioda smatraće se da se kupac na nesumnjiv način odrekao prava svojine na uređaju,
    te isti prelaze u svojinu prodavca, u skladu sa Zakonom o osnovama svojinskopravnih odnosa ("Sl. list SFRJ", br. 6/80 i 36/90, "Sl. list SRJ",
    br. 29/96 i "Sl. glasnik RS", br. 115/2005 - dr. zakon).
</div>

<script type="text/javascript">
    jQuery("html").animate({
        scrollTop: jQuery("#recenzijeTekst").offset().top - 100
    });
</script>