
<div class="row ">
    <div class=" bg-primary col-10 offset-1 rounded ">
    <div class="row justify-content-center align-items-center navbar-bg-color">
        <a href="https://localhost:7221/Users/MyProfile" class="navbar-icon bi bi-person col-2 text-white btn justify-content-center"></a>
        <a href="https://localhost:7221/Tasks/Tasks?team=false" class="navbar-icon bi bi-list-task col-2 text-white btn justify-content-center"></a>
        <div class="featured-image">
        <div class="round-button">
          <div class="round-button-circle">
            <a asp-controller="Tasks" asp-action="addNewTask" class="round-button ">+</a>
          </div>
        </div>
        </div>
        <a asp-controller="Groups" asp-action="MyGroups" class="navbar-icon fa fa-group col-2 text-white btn"></a>   
        <a class="navbar-icon bi bi-gear col-2 justify-content-center text-white btn"></a>
    </div>
</div>
</div>


