@{
    ViewBag.Title = "AboutUsPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="aboutuspageDivs" id="oNamaScroll">
    <p>
        <span class="aboutusNaslov1">KOMPANIJA</span> <br /> <br />
        <span class="aboutsusTekst">
            Najveći lanac maloprodaja i na webu i na zemlji! U našem asortimanu možete pronaći veliki izbor IT opreme, AV opreme, bele tehnike, malih kućnih aparata, uređaja za video nadzor, satova, nakita, igračaka za decu, aparata za zdravlje ali i mnogih drugih uređaja.
            Poslujemo unutar grupacije koju čini Tehnomanija doo sa brend imenom – WinWin
        </span>
    </p>
</div>
<br />

<div class="aboutuspageDivs">
    <p>
        <span class="aboutusNaslov1">MISIJA</span><br /> <br />
        <span class="aboutsusTekst">
            Želimo poboljšati Vaš svet inovacijama koje obogaćuju svakodnevnicu i koje su istinski korisne i praktične.
            Pružati pomoć u iskorišćavanju svih mogućnosti tehnologije, kako današnje tako i sutrašnje.
            Približavanjem novih tehnologija svim staležima društva, potpomažemo izgradnju novog modernog društva.
        </span> <br /> <br />

        <span class="aboutusNaslov1">VIZIJA </span><br /> <br />
        <span class="aboutsusTekst">
            Vizija WinWin Shop-a jeste očuvanje i unapređenje pozicije na tržištu.
            Težimo ka unapređenju u osnovnoj delatnosti koja podrazumeva IT sektor, kao i preuzimanje
            liderske pozicije u drugim nišama poslovanja za ostale proizvode iz naše ponude.
        </span>
    </p>
</div>
<br />

<div class="aboutuspageDivs">
    <p>
        <span class="aboutusNaslov1">NAŠ MOTO</span> <br /> <br />
        <span class="aboutsusTekst">
            Kvalitet proizvoda, usluga, pristupačna cena i pre svega briga o kupcu.
            Jednostavna formula: Vaše zadovoljstvo = naš uspeh!
        </span><br /> <br />

        <span class="aboutusNaslov1">CILJ</span> <br /> <br />
        <span class="aboutsusTekst">
            Naš osnovni  cilj je da kupcima i klijentima pružimo u svakom momentu što više za uloženi novac, ceneći njihovo vreme i veru u nas.
            Zauzvrat stičemo stalne klijente, partnere i saradnike. Za sada smo u tome uspeli, a nastojaćemo da tako ostane i u narednim godinama.
            “Pravi uspeh nikada nije proizvod slučajnosti, već rezultat osmišljenog timskog rada i velikog truda.”
            I kao što naše ime kaže, u poslovanju sa nama nema gubitnika već naprotiv, SVI su na dobitku!
        </span>
    </p>
</div>
<br />

<script type="text/javascript">
    jQuery("html").animate({
        scrollTop: jQuery("#oNamaScroll").offset().top - 100
    });
</script>




