<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Style.css" />
</head>

<body>

    <div class="jumbotron" id="velikidiv">
        <p id="naslovaboutus">"MONTEBOATS" Crna Gora</p> <br />
        <p id="text1aboutus">
            Ako ste obozalavac vodenih plovila,na pravom ste mjestu.Vec 12 godina pruzamo usluge u sektoru iznajmljivanja vodenih plovila.
            Zakupite brod i krenite u plovidbu Jadranom.
            U nasoj ponudi imate preko 500 brodova na preko 15 razlicitih destinacija.
            Uvjerite se zasto smo najbolji!
        </p> <br /> <br /> <br />


        <div id="aboutusdiv">
            <h4 id="naslov2aboutous">Iznajmi svoj brod ili zakazi iznajmljivaje</h4>
        </div>

        <div id="aboutusdiv">
            <h4 id="naslov2aboutous">Sigurno i brzo placanje </h4> <br />
        </div>

        <div id="aboutusdiv">
            <h4 id="naslov2aboutous">Sigurna usluga</h4> <br /> <br />
            @*<p id="text2aboutus">Povracaj novca,osiguranje, putovanje u inostranstvo? Kod nas je sve dostupno!</p>*@
        </div>

        <center>
        <button id="button-54" role="button">Nacin placanja</button>
        </center>
    </div>


</body>

</html>
