@{
    ViewData["Title"] = "Home Page";
}
<div class="align-content-center">
    <a class="btn btn-primary" asp-controller="Users" asp-action="Index">Users</a>
    <a class="btn btn-primary" asp-controller="Tasks" asp-action="Tasks">Tasks</a>
</div>
<br/>
<br/>
<br/>
<div class="container justify-content-center">
    <h1 style="font-size:80px;" class="d-flex justify-content-center">Welcome</h1>
    <div class="container">
  <div class="row">
    <div class="col text-center">
         <a asp-action="Login" class="btn btn-primary" style="width:100px; height:50px;">Login</a>
    </div>
  </div>
</div>

<br/>
</div>

