@{
    ViewData["Title"] = "Home Page";
}
<div class="align-content-center">
    <a class="btn btn-primary" asp-controller="Users" asp-action="Index">Users</a>
    <a class="btn btn-primary" asp-controller="Tasks" asp-action="Tasks">Tasks</a>
</div>