@model HotelWorkOrderManagement.Models.User
<h1>This is Home Login.cshtml Page</h1>

<form method="post">
    <input asp-for="Username" placeholder="Type Username" required/>
    <input asp-for="Password" type="password" placeholder="Type Password" required/>
    <button class="btn-primary btn-primary">Login</button>
</form>