.homepage {

    display:flex;
    justify-content:center;
}

.wellcome {
    border-radius: 50px;
    background: linear-gradient(20deg, rgba(84,58,183,0.3) 0%, rgba(0,172,193,0.4) 100%);
    padding: 10px;
    width: 50vw;
    color: white;
}

