
#hIndex {
    position: absolute;
    left: 0;
    top: 20vh;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100vw;
    overflow: hidden;
    border-radius: 0 0 350px 0px;
}

    #hIndex video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    #hIndex .container {
        position: relative;
        z-index: 2;
    }

    #hIndex .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, #f8f9fa, transparent);
        z-index: 1;
    }


.text2-Homepage {
    margin-top: 45vh;
    margin-bottom: 32vh;
}


.HomeBoatList {
    position: absolute;
    left: 0;
    padding: 4vw 0 0 0;
    width: 100vw;
    height: 40vh;
    background: linear-gradient(200deg, #99798478 0%, #62a4e1 100%);
    border-radius: 300px 0 0 0;
}

    .HomeBoatList h1 {
        width: 30vw;
        position: absolute;
        right: 15vw;
        color: #56697f !important;
    }
    .HomeBoatList button {
        width: 30vw;
        height: 20vh;
        position: absolute;
        border-radius: 50px;
        left: 15vw;
    }

    .HomeBoatList .overlay {
        width: 100vw;
        height: 40vh;
        background: linear-gradient(0deg, #f8f9fa, transparent);
        position: absolute;
        border-radius: 50px;
        left: 0;
        top: 5px;
        border-radius: 0px;
    }

.HomeRentBoats {
    position: absolute;
    left: 0;
    bottom: 62px;
    padding: 4vw 0 0 0;
    width: 100vw;
    height: 40vh;
    background: linear-gradient(200deg, #99798478 0%, #62a4e1 100%);
    border-radius: 0 0 0 0;
}

    .HomeRentBoats h1 {
        width: 30vw;
        position: absolute;
        left: 15vw;
        color: #56697f !important;
    }
    .HomeRentBoats .box {
        left: unset !important;
        right:10vw!important;
    }
       
    .HomeRentBoats button {
        width: 30vw;
        height: 20vh;
        position: absolute;
        border-radius: 50px;
        right: 15vw;
    }

    .HomeRentBoats .overlay {
        width: 100vw;
        height: 40vh;
        background: linear-gradient(180deg, #f8f9fa, transparent);
        position: absolute;
        border-radius: 50px;
        left: 0;
        top: -6px;
        border-radius: 0px;
    }

@media (max-width: 700px) {


    #hIndex {
        border-radius: 0 0 200px 0px !important;
    }
    .HomeBoatList {
        border-radius: 200px 0 0 0px !important;
    }
        .HomeBoatList h1 {
            padding: 15px 0;
            width: 70vw;
            text-align: right;
            position: absolute;
            right: 5vw;
            color: #56697f !important;
        }
        .HomeBoatList button {
            width: 25vw;
            height: 20vh;
            border-radius: 35px;
        }
    .box {
        padding:10px;
        top:75%;
        left:40vw;
    }
    .HomeRentBoats {
        border-radius: 0 0 0 0px !important;
    }

        .HomeRentBoats h1 {
            padding: 15px 0;
            width: 70vw;
            text-align: right;
            position: absolute;
            right: 5vw;
            color: #56697f !important;
        }

        .HomeRentBoats button {
            width: 25vw;
            height: 20vh;
            border-radius: 35px;
        }
}