body {
}


.searchInfo {
    
    display:grid;
    grid-template-columns: 45% 10% 45%;
    align-items:center;

}

.gallery-display {
    gap:20px ;

}
a {
    text-decoration:none;

}
a:hover {
    text-decoration: none !important;
}
.list-group-item:hover {
    background: #baebff;
    transition: 1s;
}

.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

.bg-teal-400 {
    background-color: #26a69a
}

a {
    text-decoration: none !important
}

.fa {
    color: red
}