<div class="align-content-center">
    <a class="btn btn-primary" asp-controller="Users" asp-action="GetAll">Get All Users</a>
    <a class="btn btn-primary" asp-controller="Users" asp-action="Upsert">Add New User</a>
</div>



