@model HotelWorkOrderManagement.DTO.User.DataIn.UserDataIn;
<div class="container">
    <div class="container p-5">
        <p class="align-content-center">Slika</p>
    </div>
    </br>
    </br>
    </br>
    <div class="row">
        <div class='col-6'>
            <h2>First Name:</h2>
        </div>
        <div class='col-6'>
            <h2>@Model.Name</h2>
        </div>
    </div>
    </br>
    <div class="row">
        <div class='col-6'>
            <h2>Last Name:</h2>
        </div>
        <div class='col-6'>
            <h2>@Model.LastName</h2>
        </div>
    </div>
    </br>
    <div class="row">
        <div class='col-6'>
            <h2>Username:</h2>
        </div>
        <div class='col-6'>
            <h2>@Model.UserName</h2>
        </div>
    </div>
    </br>
    <div class="row">
        <div class='col-6'>
            <h2>Password:</h2>
        </div>
        <div class='col-6'>
            <h2>@Model.Password</h2>
        </div>
    </div>
    
</div>