<link rel="stylesheet" href="~/css/login.css" />
<div class="container login">
    <form action="~/Reservation/Register">
        <h1>Registrujte se da bi nastavili rezervaciju.</h1>
        <table>
            <tr>
                <td>
                    Ime:
                </td>
                <td>
                    <input name="FirstName" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    Prezime:
                </td>
                <td>
                    <input name="LastName" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    Telefon:
                </td>
                <td>
                    <input name="Phone" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    <input name="Email" type="email" />
                </td>
            </tr>
            <tr>
                <td>
                    Sifra:
                </td>
                <td>
                    <input name="Password" type="password" />
                </td>
            </tr>
            <tr>
                <td>
                    Potvrda sifre:
                </td>
                <td>
                    <input name="PasswordCheck" type="password" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" class="btn-dark" style="width:100%;">Registruj se!</button>
                </td>
            </tr>
            <tr>
                <td>
                    <b style="color:red"> @ViewBag.Message</b>
                </td>
            </tr>
        </table>
    </form>
</div>