@model IEnumerable<BoatsMontenegro.Models.Reservation>

@{
    ViewBag.Title = "ScheduledAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Zauzeti termini</h1>
    <br /> <br />

    <table class="table" style="color:whitesmoke">
        <thead>
            <tr>               
                <th scope="col">Od kada:</th>
                <th scope="col">Do kada:</th>
            </tr>
        </thead>

        @foreach (var r in Model)
        {
            <tbody>
                <tr>                
                    <td>@Html.DisplayFor(model => r.DateFrom)</td>
                    <td>@Html.DisplayFor(model => r.DateTo)</td>
                    <td></td>
                </tr>

            </tbody>
        }
    </table>




