
@{
    ViewBag.Title = "ScheduledAppointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rezervisani termini:</h2> <br />
<h2>Izdavanje brodova je IKLJUCIVO na 24 sata (24h,48h,72h,96h...)</h2> <br />



