@model IEnumerable<BoatsMontenegro.Models.Reservation>

@{
    ViewBag.Title = "ScheduledAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-family: Arial, Helvetica, sans-serif; color:white; position:absolute; left:42%; top:105%;" class="scheduleNaslov">Zauzeti termini:</h1>
<br />
<br />
<br />
<br />

<div style="margin-left:50%; transform: translate(-50%, -50%); font-family: Arial, Helvetica, sans-serif;color:white;" class="divTableSchedule">
    <table style="border:1px solid;" class="tableSchedule">
        <thead>
            <tr>
                <th>Od kada:</th>
                <th>Do kada:</th>
            </tr>
        </thead>
        @foreach (var r in Model)
        {
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => r.DateFrom)</td>
                    <td>@Html.DisplayFor(model => r.DateTo)</td>
                </tr>
            </tbody>
        }
        </table>
</div>