@{
    ViewBag.Title = "TakeReservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BoatsMontenegro.Contracts.ReservationContract


<div class="container">
    <h2>Izvrsite rezervaciju<small>Forma:</small></h2> <br />
    <form action="/Reservation/Create" method="post" >

        <div class="group">
            <input type="number" id="BoatID" name="BoatID" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Boat ID</label>
        </div>

        <div class="group">
            <input type="date" name="DateFrom" id="DateFrom" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Date from</label>
        </div>


        <div class="group">
            <input type="date" name="DateTo" id="DateTo" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Date to</label>
        </div>

        <div class="group">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label style="color:black">Do you need captain?</label> <br /> <br />
            <input type="checkbox" name="NeedCaptain" id="NeedCaptain" required>
        </div>

        <div style="margin-left:20%">
            <input type="submit" value="Rezervisi" />
        </div>

    </form>
    <br />
    <br />
    <p class="footer">
    <p style="margin-left:25%; color:black;">Hvala vam sto koristite nase usluge!</p>
    <a href="~/Home/Index" target="_blank" style="margin-left:25%; color:black;">Povratak na pocetnu stranicu</a>
    

</div>


    @*<div>
                <form action="" method="post">

                    <div>
                        <label for="BoatID">Boat id:</label>
                        <input type="number" id="BoatID" name="BoatID" />
                    </div> <br /> <br />

                    <div>
                        <label for="DateFrom">Date from:</label>
                        <input type="date" name="DateFrom" id="DateFrom" />
                    </div> <br /> <br />

                    <div>
                        <label for="DateTo">Date to:</label>
                        <input type="date" name="DateTo" id="DateTo" />
                    </div> <br /> <br />

                    <div>
                        <label for="NeedCaptain">Do you need captain?</label>
                        <input type="checkbox" name="NeedCaptain" id="NeedCaptain" />
                    </div> <br /> <br />

                    <div>
                        <input type="submit" value="Rezervisi" />
                    </div>
                    <br /><br />
                </form>
        </div>*@
