@model BoatsMontenegro.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<div class="formeProba" id="loginScroll">
    <div class="login-box">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h2>Prijava</h2>
            <form>
                <div class="user-box">
                    <input type="text" name="UserIdentifier" required="">
                    <label>Username</label>
                </div>
                <div class="user-box">
                    <input type="password" name="Password" required="">
                    <label>Password</label>
                </div>
                <a onclick="this.closest('form').submit();return false;">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Submit
                    @*<input type="submit" value="Prijava" class="btn btn-default" />*@
                </a>
            </form>
            <br />
            <a href="~/Account/Register">Nemas nalog? Registruj se</a>
        }
    </div>
</div>

<script type="text/javascript">
    jQuery("html").animate({
        scrollTop: jQuery("#loginScroll").offset().top - 100
    });
</script>