
@{
    ViewBag.Title = "PublishYourBoat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Objavite svoj brod:<small>Forma:</small></h2> <br />
    <form action="" method="post">

        <div class="group">
            <input type="text" id="ImeBroda" name="ImeBroda" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Ime broda</label>
        </div>

        <div class="group">
            <input type="text" name="Kategorija" id="Kategorija" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Kategorija</label>
        </div>

        <div class="group">
            <input type="number" name="Kapacitet" id="Kapacitet" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Kapacitet</label>
        </div>

        <div class="group">
            <input type="text" name="Cijena" id="Cijena" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Cijena</label>
        </div>
        
        <div class="group">
            <input type="text" name="Velicina" id="Velicina" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Velicina</label>
        </div>

        <div class="group">
            <input type="text" name="Motor" id="Motor" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Motor</label>
        </div>

         <div class="group">
            <input type="text" name="Potrosnja goriva" id="Potrosnja goriva" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Potrosnja goriva</label>
        </div>

        <div style="margin-left:20%">
            <input type="submit" value="Objavi" />
        </div>

    </form>
    <br />
    <br />
    <p class="footer">
    <p style="margin-left:25%; color:black;">Hvala vam sto koristite nase usluge!</p>
    <a href="~/Home/Index" target="_blank" style="margin-left:25%; color:black;">Povratak na pocetnu stranicu</a>


</div>

